<!DOCTYPE html>

<head>
	<title>Zinco Restaurants</title>
	<link rel="stylesheet" type="text/css" href="../public/css/zinco.css">
	<meta name="description" content="Our popular restaurants, many of them recognised for their architectural value, provide the ideal backdrop to enjoy our food and friendly service.">
	<meta name="keywords" content="italian, restaurant, zinco, pizza, pasta, borehamwood, watford">
</head>
<body>
	<header>
		<nav>
    <ul class="fontsforweb_fontid_1416">
      <li><a href="index.html">Home</a></li>
      <li><a href="/about">About Us</a>
        <ul>
            <li><a href="/info">History</a></li>
            <li><a href="/borehamwood">Borehamdwood</a></li>
            <li><a href="/watford">Watford</a></li>
        </ul>
      </li>
      <li><a href="/food">Our Food</a>
        <ul>
            <li><a href="/menu.pdf">Menu</a></li>
            <li><a href="/deserts.pdf">Deserts</a></li>
            <li><a href="/wine.pdf">Wine</a></li>
        </ul>
      </li>
      <li><a href="/bookings">Bookings</a>
        <ul>
            <li><a href="/book-borehamwood">Borehamwood</a></li>
            <li><a href="/book-watford">Watford</a></li>
        </ul>
      </li>          
      <li><a href="/contact">Contact</a>
        <ul>
            <li><a href="/email">Via Email</a></li>
            <li><a href="/contact_form">Web Form</a></li>
        </ul>
      </li>
    </ul>
	</nav>
	</header>
	<div id="main">
	   <div id="content">
        <div id="banner">
        </div>
			<div>
		</div>
	</div>
	<footer>
	</footer>
</body>